# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================

.venv/
venv/
env/

# =========================
# Jupyter / Notebook
# =========================

.ipynb_checkpoints/

# =========================
# Cache
# =========================

.cache/
.pytest_cache/
.mypy_cache/


# =========================
# Streamlit
# =========================

.streamlit/


# =========================
# Operating System
# =========================

.DS_Store
Thumbs.db


# =========================
# Database temporary files
# =========================

*.sqlite-shm
*.sqlite-wal


# =========================
# IDE
# =========================

.vscode/
.idea/


# =========================
# Temporary files
# =========================

*.log
*.tmp


# =========================
# Environment variables
# =========================

.env